@font-face {
    font-family: 'neversay';
    src: url('../fonts/neversaydie-webfont.eot');
    src: url('../fonts/neversaydie-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neversaydie-webfont.woff2') format('woff2'),
         url('../fonts/neversaydie-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#mainNav .navbar-brand {
  color: white;
  font-family: 'neversay';
}

header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/binary.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
    
}

section#contact {
  background-color: #212529;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

